body{
	margin:0;
	font-family: 'Poppins', sans-serif;
	background-image: url(https://dumielauxepices.net/sites/default/files/drawn-crystals-crystal-flower-526480-521709.jpg);
	background-position: cover;
}
h1{
	color:#5a50cf;
	text-align: center;
	font-size: 45px;


}
.containerText{
	display: flex;
    justify-content: center;
}
p{
	text-align: left;
	width: 45%;
	display: inline-block;
	color: navy;
	font-size: 15px;
	
}

img{
	width:100px;
	height: 100px;
	border:solid 2px #fd2f82;
}

.containerN1,
.containerP{
	margin-top: 10px;
	display: flex;
    justify-content: center;
}


#numberBox,
#numberBox2,
#winloseBox
{	
    width: 204px;
    height: 60px;
    background-color: #5a50cf;
    text-align: center;
    font-size: 55px;
    color:white;
    padding-bottom: 20px;
}

#numberBox2,#winloseBox{
	background-color: white;
	border:solid 2px #fd2f82;
	color:#fd2f82;

}

#describeBox,#describeBox2{
	background-color: #fd2f82;
	color:white;
	width:204px;
	height: 30px;
	text-align: center;
	margin-bottom: 0px;
	border:solid 2px #fd2f82;

}

#describeBox2{
	background-color: #ff9eb1;

}

#winloseBox{
	display: flex;
	flex-direction: column;
}

.winlose{
	color: #fd2f82;
	margin-top: 11px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.containerN2,.containerT{
	
	
	display: flex;
	justify-content: center;
}